<%= form_with(url: login_path, scope: :session) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>

<div>初めにtestadmin@test.com/1234でログインすると,admin/usersに遷移します。アルバイトのアカウントとしてはtest1@test.comを作成しています。ログアウト機能は実装できておらずURL欄で/loginに遷移しログインし直していただければ別のユーザーにログインできます。admin/users/newで新しいユーザーを作成できます</div>

