<div>閲覧中のユーザー</div><%=@user.name %><br>

<%=form_with url: admin_user_path, method: :get do |form| %>
  <%= form.label :selected_month, "月を選択してください：" %>
  <%= form.select :selected_month, options_for_select((1..12).map { |m| [m.to_s + "月", m] }) %>
  <%= form.submit "検索" %>
<% end %>

<% @records.each do |record| %>
  <%= calculate_fee(record,params[:id])%><br>
<% end %>
</br>

<div>時給・職種変更</div>
<%= form_with model: @user, url: admin_user_path(@user),method: :patch do |f| %>
  <%= f.label :hourlewage %>
  <%= f.number_field :hourlewage, class: "form-control" %>

  <%= f.label :occupation %>
  <%= f.text_field :occupation, class: "form-control" %>

  <%= f.submit "update profile" %>
<% end %>

<%=link_to "新規ユーザー登録", new_admin_user_path%>